button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: x-large;
  display: flex;
  border-style: solid;
  border-radius: 1em;
  border-width: 1px;
  padding: 0.3em;
  z-index: 10;
}
